:root{
    --color-primary-dark: #31261a;
    --color-primary-light: #f4f4ea;
    --color-brand-normal: #819b57;
    --color-brand-dark: #465929;
    --color-brand-light: #cfcfbc;
    --color-secondary-dark: #A18268 ;
}